* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*-----VERKOOP OVERZICHT-----*/

.stats-blok {
    padding: 5px;
    border-radius: 3px;
}
.sold-tv {
    background-color: lightgreen;
    border:  2px solid green;
}

.sold-tv p {
    color: green;
}

.purchased-tv {
    background-color: lightblue;
    border:  2px solid blue;
}
.purchased-tv p {
    color: blue;
}

.for-sale-tv {
    background-color: lightpink;
    border:  2px solid red;
}
.for-sale-tv p {
    color: red;
}